html {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: inherit;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

a:hover {
  color: #c50d0d;
}

.container-xl {
  height: 100%;
}

header {
  height: 63px;
  background: #F5F5DC;
}

.header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9 17;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: vertical;
          flex-direction: vertical;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 131.68%;
}

.cur_page {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.devider {
  margin: 0 11px;
  font-size: 10px;
  font-weight: 600;
}

.header > img {
  width: 191px;
}

.first_sec {
  background: rgba(173, 173, 173, 0.8);
  height: 640px;
  opacity: 0.8;
}

.first_sec_wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 4px;
  background: url("../img/flag.png") no-repeat center border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first_sec_wrapper_title {
  margin-top: 177px;
  font-weight: 700;
  font-size: 70px;
  line-height: 131.68%;
  text-transform: capitalize;
  color: #F5F5DC;
}

.first_sec_wrapper_text {
  font-weight: 400;
  font-size: 29px;
  line-height: 131.68%;
  color: #FFFFFF;
  margin-top: 41px;
}

.first_sec_wrapper_link {
  margin-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 25px;
  line-height: 131.68%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

.first_sec_wrapper_link img {
  width: 28px;
  margin-right: 10px;
}

.sec_dev {
  height: 106px;
  background: #F5F5DC;
}

.second_sec {
  min-height: 951px;
  background: #F5F5F5;
}

.second_sec_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  padding-bottom: 30px;
}

.second_sec_wrapper_title {
  font-weight: 700;
  font-size: 50px;
  line-height: 131.68%;
  text-transform: capitalize;
  color: #826644;
  margin-bottom: 51px;
}

.second_sec_wrapper_text {
  font-weight: 400;
  font-size: 30px;
  line-height: 186.68%;
  color: #000000;
  margin-bottom: 26px;
}

#mid {
  margin: 51px 0;
}

.slider {
  min-height: 600px;
  background: #F5F5F5;
}

.slider_title {
  font-weight: 700;
  font-size: 45px;
  line-height: 186.68%;
  color: #826644;
  text-align: center;
  height: 84px;
  margin: 0;
  margin-bottom: 25px;
}

.slider_wrapper {
  height: 638px;
  background: #ADADAD;
}

.slider_wrapper .carousel {
  height: 100%;
}

.slider_wrapper .carousel-inner {
  height: 100%;
  position: relative;
}

.slider_wrapper .carousel-caption {
  position: absolute;
  bottom: 250px;
  border-radius: 10px;
  background: #F5F5F5;
  border: 2px solid #826644;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 24px;
  padding-left: 4px;
  padding-right: 4px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 186.68%;
  color: #000000;
  opacity: 0.7;
}

footer {
  height: 266px;
  background: #ADADAD;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .copy {
  font-size: 16px;
  line-height: 20px;
}

.footer .name {
  font-size: 20px;
  line-height: 131.68%;
}

.footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  line-height: 18px;
  gap: 15px;
}

.footer .info img {
  margin-right: 6px;
}
/*# sourceMappingURL=page2.css.map */